:root {
    /* Colores por definir */
    --primario: #1b0317; /* en rgb 27, 3, 23 */
    --secundario: #535353; /* en rgb 83, 83, 83 */
    --comple1: #7b1b74; /* en rgb 123, 27, 116 */
    --comple2: #86d41a; /* en rgb 134, 212, 26 */
    --comple3: #fff;
    --comple4: #000;
    --comple5: ;
}

/**globales de html y body*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /*ayuda a mejorar el box model*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    /*1rem=10px*/
    font-family: "Nunito", sans-serif;
    background-image: url(../img/particulas-espacio.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    /* height: 150rem; */
}

/* .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    color: var(--comple2);
} */

/* Animacion de texto */

.titulo .typed {
    color: var(--comple2);
    transition: all 0.3s ease;
}

/* pagina inicio */

.navegacion {
    background-color: var(--secundario);
}

.navbar-light .navbar-toggler {
    background-color: var(--comple3);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
    color: var(--comple3);
}

.navegacion a {
    font-weight: 700;
    font-size: 2rem;
}

.nav-link {
    color: var(--comple2);
    font-size: 1.4rem;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}

.nav-link:hover {
    background-color: var(--comple2);
    color: var(--secundario);
}

.header {
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: wrap nowrap;
    justify-content: center;
    align-items: center;
}

@media (min-width: 540px) {
    .header {
        height: 400px;
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
}

@media (min-width: 768px) {
    .header {
        height: 500px;
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
}

.titulo {
    color: var(--comple3);
    font-size: 4rem;
    font-weight: 700;
}

/* pagina sobre mi */

.sobremi {
    padding: 2rem;
    text-align: center;
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 9rem;
}
.sobremi img {
    max-width: 30%;
}

.sobremi__texto {
    background-color: rgba(83, 83, 83, 0.6);
    font-size: 2rem;
    color: var(--comple2);
    border-radius: 0.5rem;
    text-align: justify;
    padding: 2rem;
}

.sobremi__foto {
    margin: 4rem 0;
}

.sobremi__titulo h2 {
    color: var(--comple2);
    font-weight: 700;
    font-size: 4rem;
}

.sobremi__skills {
    background-color: rgba(83, 83, 83, 0.6);
    padding: 4rem;
    border-radius: 0.5rem;
}

.sobremi__skill p {
    color: var(--comple2);
    font-weight: 700;
    margin: 1rem;
}

.sobremi__skill p:hover {
    color: var(--comple3);
    cursor: pointer;
}

/* pagina servicios */

.servicios {
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 3rem;
}

.servicios__titulo h2 {
    font-size: 4rem;
    color: var(--comple2);
    text-align: center;
}

.servicios img {
    max-width: 25%;
}

.servicios__tarjeta {
    background-color: rgba(83, 83, 83, 0.6);
    border: 2px solid var(--comple2);
    border-radius: 0.8rem;
    margin: 5rem;
    padding: 2rem;
    text-align: center;
}

.servicios__tarjeta p {
    color: var(--comple2);
    /* text-align: justify; */
}
.servicios__tarjeta span {
    font-weight: 700;
    font-size: 1.8rem;
}

/* Estilo boton de la api y descarga*/

.boton__btn {
    padding: 1rem 1rem;
    margin-top: 1rem;
    font-size: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.5rem;
    width: 80%;
    text-align: center;
    border: none;
}

.boton__api {
    text-align: center;
    margin-bottom: 5rem;
}

.boton__api .boton__btn {
    background-color: var(--comple2);
    color: var(--comple4);
}

.boton__api .boton__btn:hover {
    background-color: var(--primario);
    color: var(--comple3);
}

/* carusel en JS Testimoniales */

.carusel__contenedor {
    position: relative;
    max-width: 120rem;
    margin: 0 auto;
    padding: 15rem 0;
}

.carusel__lista img {
    width: 55%;
    height: 25rem;
}

@media (min-width: 540px) {
    .carusel__lista img {
        width: 45%;
        height: 20rem;
    }
}

.carusel__elemento {
    background-color: rgba(83, 83, 83, 0.6);
    border: 2px solid var(--comple2);
    border-radius: 0.8rem;
}

.carusel__lista p {
    color: var(--comple2);
    background-color: rgba(5, 5, 5, 0.6);
    border-radius: 0.8rem;
}

/* pagina del portafolio */

.portafolio {
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.portafolio .card-body {
    max-width: 120rem;
    height: 26rem;
}

.card-body a {
    width: 100%;
    height: 5rem;
}

.card-body h5 {
    color: var(--comple2);
    text-transform: uppercase;
    font-weight: 700;
}

.card-body p {
    color: var(--comple1);
    font-weight: 700;
    text-align: justify;
}

/* Pagina formulario */

.contenedor {
    color: var(--comple3);
    text-align: center;
    margin: 0 auto;
    padding: 3rem;
    font-size: 50px;
    text-transform: uppercase;
}

.formulario {
    background-color: rgba(83, 83, 83, 0.6);
    width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--comple4);
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--comple4);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.campo textarea {
    height: 10rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

.enviar .btn {
    background-color: var(--comple4);
    color: var(--comple3);
}

.enviar .btn:hover {
    background-color: var(--comple2);
    color: var(--primario);
}

.horario {
    color: var(--comple4);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.btn {
    padding: 1rem 1rem;
    margin-top: 1rem;
    font-size: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.5rem;
    width: 30%;
    text-align: center;
    border: none;
}
